.container{
    display: flex ;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.arrangement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}